@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --hero-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.7));
}

html.dark {
  --hero-gradient: linear-gradient(to bottom, rgb(15, 23, 43, 0.8));
}

body {
  font-family: "Momo Trust Display", "Noto Sans TC", sans-serif;
}
